<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>
  
  <div id="fondo">
    <div id="chakana">
      <div id="cuadrado" class="parteDeChakana"></div>
      <div id="rectanguloH" class="parteDeChakana"></div>
      <div id="rectanguloV" class="parteDeChakana"></div> 
    </div>
    <div id="emvoltura">
      <div class="gg-list"> </div>
    </div>
  
  <nav id="barranav" > 
    <ul>
      <li><a id="link1" routerLink="ruta6/ruta5" routerLinkActive="active-link" >ETNONACIONALISMO</a></li>
      <li><a id="link2" routerLink="ruta3/ruta5" routerLinkActive="active-link" >MITINES</a></li>
      <li><a id="link3" routerLink="ruta8/ruta5" routerLinkActive="active-link" >EXPOSICIONES</a></li>
      <li><a id="link4" routerLink="ruta4/ruta5" routerLinkActive="active-link" >ENTREVISTAS</a></li>
    </ul>
  </nav>
  
</div>

  <router-outlet>  </router-outlet>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</body>
