
#fondo {
  height: 200px;
  width: 100%;  
  display: grid;
  grid: auto auto / auto auto auto;
  position: relative;
  justify-items: center;
  border: 3px solid red;
}


@media screen and (max-width: 800px) {
 
  #fondo {
    align-items: start;
    justify-items: end;
    grid: 100% / auto auto auto;
  }
  #chakana {
    grid-column-start: 2;
    justify-self: center;
  }
  
}

#barranav {
  grid-row-start: 2;
  grid-column: 1 / span 3;
  width: 100%;
  height: auto;
  font-size: 100%; 
  box-sizing: border-box;
  
  }

nav ul {
  display: flex;
  
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  text-align: center;
  }

nav li {
 
  height: auto;
  margin: auto;
  display: flex;
}

a {
  color: beige;
  height: auto;
  font-size: 1.5em;
}



#emvoltura:hover .gg-list {
 display: none !important;
}
/* barranav se inserta en #emvoltura por medio de el script ts 
   cuando se cambia el tamaño de la pantalla */
  
#emvoltura:hover #barranav {
 display: flex !important;
 }
 #emvoltura:hover ul {
 display: block;
 }
 #emvoltura:hover li {
 margin: 1em;
 }


#emvoltura {
 font-size: 0.5em;
 width: auto;
 height: auto;
 grid-column: 3;
}

 .gg-list {
 box-sizing: border-box;
 position: relative;

 transform: scale(var(1,1));
 width: 6.25em;
 height: 6.25em;
 border: 0.625em solid beige;
 border-radius: 1em;
}

.gg-list::after,
.gg-list::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 0.625em;
 height: 0.625em;
 background: beige;
 top: 1em;
 left: 1em;
 box-shadow:
 0 1.25em 0 beige,
 0 2.5em 0 beige;
}
.gg-list::after {
 border-radius: 1em;
 width: 2.5em;
 left: 1.875em;
} 

#chakana {
  font-size: 1.0em;
  position: relative;
  grid-row-start: 1;
  grid-column: 2;
  width: 9.875em;
  height: 9.875em;
  }
#cuadrado {
    position: absolute;
    background-color: var(--orange);
    width: 6.2em;
    height: 6.2em;
    top: 1.75em;
    left: 1.75em;
     }
#rectanguloH {
    position: absolute;
    background-color: var(--blue);
    width: 9.875em;
    height: 2.45em;
    top: 3.77em;
  }
#rectanguloV {
    position: absolute;
    background-color: var(--blue);
    width: 2.45em;
    height: 9.875em;
    right: 3.77em;
  
  }
