<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>
  
<div id="fondo">
  
 <div class="gg-list"> <p id="parrafo"> aaa </p> </div>
 <nav id="barranav" class="barranav"> 
   <ul>
    <li class="baritem">
      <a routerLink="ruta6">ETNONACIONALISMO </a>
      <div>
        <ul class="bardown">
          <li>aaa</li>
          <li>eee</li>
          <li>iii</li>
        </ul>
      </div>
    </li>
    <li><a routerLink="ruta3">MITINES</a></li>
    <li><a routerLink="ruta2">EXPOSICIONES</a></li>
    <li><a routerLink="ruta4">ENTREVISTAS</a></li>
   </ul>
  </nav>
  
</div>

  <router-outlet>  </router-outlet>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</body>
