<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>
  
  <div id="fondo">
    <div id="chakana">
      <div id="cuadrado" class="parteDeChakana"></div>
      <div id="rectanguloH" class="parteDeChakana"></div>
      <div id="rectanguloV" class="parteDeChakana"></div> 
    </div>
    <div id="emvoltura">
      <div class="gg-list"> </div>
    </div>
    
  <nav id="barranav" > 
    <ul>
      <li><a routerLink="ruta6/ruta5" #vara (click)="changeLinkColor(vara)">ETNONACIONALISMO</a></li>
      <li><a routerLink="ruta3/ruta5" #vara (click)="changeLinkColor(vara)">MITINES</a></li>
      <li><a routerLink="ruta8/ruta5" #vara (click)="changeLinkColor(vara)">EXPOSICIONES</a></li>
      <li><a routerLink="ruta4/ruta5" #vara (click)="changeLinkColor(vara)">ENTREVISTAS</a></li>
    </ul>
  </nav>
  
</div>

  <router-outlet>  </router-outlet>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</body>
