
#fondo {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_eO_YGP-y8vT4zZDMIVTwPjsF5kz7Wj71Og&usqp=CAU');
  height: 200px;
  width: 100%;  
  display: grid;
  position: relative;
  align-items: end; 
  border: 3px solid red;
}


@media screen and (max-width: 700px) {
  #fondo {
    background-image: url("https://arnoldbotello.blob.core.windows.net/imagenes/—Pngtree—traditional simple golden luxury japanese_980806.png");
  }
}

#barranav {
 
  border: 10px solid yellow;
  width: 100%;
  height: auto;
  justify-content: right;
  vertical-align: bottom;
  font-size: 100%; 
  box-sizing: border-box;
  
  }

nav ul {
  display: flex;
  
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  text-align: center;
  border: 4px solid green;
  
}

nav li {
 
  height: auto;
  margin: auto;
  display: flex;
  border: 1px solid red;
}

a {
  color: beige;
  height: auto;
  font-size: 1.5em;
}

 .gg-list {
 box-sizing: border-box;
 position: relative;
 transform: scale(var(--ggs,1));
 width: 100px;
 height: 100px;
 border: 10px solid;
 border-radius: 15px
}

#emvoltura:hover .gg-list {
 display: none !important;
}
/* barranav se inserta en #emvoltura por medio de el script ts 
   cuando se cambia el tamaño de la pantalla */
  
#emvoltura:hover #barranav {
 display: flex !important;
 }
 #emvoltura:hover ul {
 display: block;
 }
 #emvoltura:hover li {
 margin: 1em;
 }


#emvoltura {
 position: relative;
 width: 200px;
 height: auto;
}

.gg-list::after,
.gg-list::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 10px;
 height: 10px;
 background: currentColor;
 top: 15px;
 left: 15px;
 box-shadow:
 0 20px 0,
 0 40px 0
}
.gg-list::after {
 border-radius: 15px;
 width: 40px;
 left: 30px;
} 

