


.court {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: green;
}


.paddle {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: white;
  border:  1px solid black;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
}
