/*@media (orientation: landscape){
  canvas {
  width: 70%;
  height: 70%;
}
}
@media (orientation: portrait){
  canvas {
  width: 100%;
  height: 30%;
}
}*/
.court {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.paddle {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: white;
  border:  1px solid black;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
}

.scoreboard {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: white;
}

.left-score, .right-score {
  margin: 0 20px;
}


.cuerpo {
  position: relative;
  width: 200px;
  height: 400px;
  margin: 50px auto;
}

.cabeza {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: brown;
  border-radius: 50%;
}

.cuello {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 20px;
  background-color: purple;
}

.torso {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 10%;
  animation: torso 6s linear infinite;
}
@keyframes torso {
0% {
  transform: translateX(-50%) skew(0deg);
} 
80% {
  transform: translateX(-50%) skew(-10deg);
 }
83%, 95%{
  transform: translateX(-50%) skew(20deg);
 }
100% {
   transform: translateX(-50%) skew(0deg);
 } 
}
.brazo-izquierdo {
  position: absolute;
  top: 250px;
  left: 75%;
  transform: translateX(-50%);
  width: 20px;
  height: 15%;
  border-radius: 8px;
  background-color: orange;
  animation: brazo-izquierdo 6s linear infinite;
}

@keyframes brazo-izquierdo {
 0% {
  transform-origin: top;
  transform: translate(-50%, -0x) rotate(0deg);
 }
 50%, 80% {
  transform-origin: top;
  transform: translate(0px, 0px) rotate(100deg);
  height: 25%;
 }
 83%,95% {
  transform-origin: top;
  transform: translate(0px, 0px) rotate(-60deg);
  height: 10%;
 }
 100% {
  transform-origin: top;
  transform: translate(-50%, -0px) rotate(0deg);
  height: 15%;
 }
}

.brazo-derecho {
  position: absolute;
  top: 250px;
  right: 75%;
  transform: translateX(50%);
  width: 20px;
  height: 15%;
  border-radius: 8px;
  background-color: orange;
  animation: brazo-derecho 6s linear infinite;
}
@keyframes brazo-derecho {
 0% {
  transform-origin: top;
  transform: translate(50%, 0x) rotate(0deg);
   
 }
 50%, 80% {
  transform-origin: top;
  transform: translate(0px, 0px) rotate(60deg);
  height: 10%;
 }
 83%, 95% {
  transform-origin: top;
  transform: translate(50%, 0px) rotate(-100deg);
  height: 25%;
 }
 100% {
  transform-origin: top;
  transform: translate(50%, 0px) rotate(0deg);
  height: 15%;
  }
}
.antebrazo-izquierdo{
  position: absolute;
  top: 100%;
  width: 20px;
  height: 80%;
  border-radius: 8px;
  background-color: blue;
  animation: antebrazo-izquierdo 6s linear infinite;
}
@keyframes antebrazo-izquierdo{
  0%, 83%{
  transform-origin: top;
  transform: translate(0%, 0) rotate(0);
  }
 
  84%, 95%{
  transform-origin: top;
  transform: translate(50%, 0) rotate(-75deg);
  } 
  100% {
  transform-origin: top;
  transform: translate(0%, 0) rotate(0deg);
  }
}
.antebrazo-derecho{
  position: absolute;
  top: 100%;
  width: 20px;
  height: 80%;
  border-radius: 8px;
  background-color: blue;
  animation: antebrazo-derecho 6s linear infinite;
}
@keyframes antebrazo-derecho {
  0% {
  transform-origin: top;
  transform: translate(0%, 0) rotate(0);
  }
  50%, 80%{
  transform-origin: top;
  transform: translate(-50%, 0) rotate(75deg);
  }
  83%, 100% {
  transform-origin: top;
  transform: translate(0%, 0) rotate(0deg);
  }
  
}
.mano-izquierda {
  position: absolute;
  top: 100%;
  left: -5px;
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
}

.mano-derecha {
  position: absolute;
  top: 100%;
  right: -5px;
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
  /*animation: mano-derecha 6s linear infinite;*/
}
.muslo-izquierdo{
  position: absolute;
  top: 350px;
  left: 38%;
  height: 100px;
  width: 20px;
  background-color: blue;
  transform: translateX(50%);
  animation: muslo-izquierdo 6s linear infinite;
}
@keyframes muslo-izquierdo{
  0% {
  transform-origin: top;
  transform: translateX(-50%) rotate(0deg);
  }
  50%, 80% {
  transform-origin: top;
  transform: translateX(-50%) rotate(25deg);
  }
  
  83%, 100% {
  transform-origin: top;
  transform: translateX(-50%) rotate(0deg);
  }
}
.muslo-derecho{
  position: absolute;
  top: 350px;
  right: 38%;
  height: 100px;
  width: 20px;
  transform: translateX(-50%);
  background-color: blue;
  animation: muslo-derecho 6s linear infinite;
}
@keyframes muslo-derecho{
  0% {
  transform-origin: top;
  transform: translateX(50%) rotate(0deg);
  }
  50%, 90% {
  transform-origin: top;
  transform: translateX(50%) rotate(-45deg);
  }
  100% {
  transform-origin: top;
  transform: translateX(50%) rotate(0deg);
  }
}
.pierna-izquierda {
  position: absolute;
  top: 100%;
  width: 20px;
  height: 100px;
  background-color: green;
  animation: pierna-izquierda 6s linear infinite;
}
@keyframes pierna-izquierda {
   0%, 80% {
     transform-origin: top;
     transform: rotate(0deg);
   }
   83% {
     transform-origin: top;
     transform: rotate(45deg);
   }
   100% {
     transform-origin: top;
     transform: rotate(0deg);
   }
}

.pierna-derecha {
  position: absolute;
  top: 100%;
  width: 20px;
  height: 100px;
  background-color: green; 
  animation: pierna-derecha 6s linear infinite;
}
@keyframes pierna-derecha {
   0% {
     transform-origin: top;
     transform: rotate(0deg);
   }
   50%, 95% {
     transform-origin: top;
     transform: rotate(45deg);
   }
   100% {
     transform-origin: top;
     transform: rotate(0deg);
   }
}

.pie-izquierdo {
  position: absolute;
  bottom: -25%;
  left: 30%;
  transform: translateX(-50%);
  width: 40px;
  height: 20px;
  background-color: red;
  animation: pie-izquierdo 6s linear infinite;
}
@keyframes pie-izquierdo {
   0% {
     transform-origin: top;
     transform: rotate(0deg);
   }
   50% {
     transform-origin: top;
     transform: rotate(45deg);
   }
   100% {
     transform-origin: top;
     transform: rotate(0deg);
   }
}

.pie-derecho {
  position: absolute;
  bottom: -25%;
  right: 30%;
  transform: translateX(50%);
  width: 40px;
  height: 20px;
  background-color: red;
}
.bate {
  
  height: 100px;
  width: 20px;
  background-color: yellow;
}
