a {
  font: oblique bold 120% cursive;
  text-decoration:none;
  
}

.elemento {
  height: 50px;
  border-style: dotted;
  
}


.titulofecha {

  display : flex;
  border-style: dotted;
  
}


.fechaid {

  color: blue;
}
