a {
  font: oblique bold 50% cursive;
  text-decoration:none;
  
}
a:focus {
  color: green;
}

.elemento {
  height: auto;
  margin: 3em;
  }
#elemento {
   
 
}

.titulofecha {
 display : flex;
 }

.fechaid {
 color: blue;
}

#video-wrapper {
 
  
}
