

a {
  font: oblique bold 120% cursive;
  text-decoration:none;
  
}
a:focus {
  color: green;
}
ul {
  font-size: 15px;
}
.elemento {
  height: 60px;
  margin: 60px;
  border: 2px solid black;
  }
#elemento {
   
 
}
.enlace {
  border: 2px solid orange;
}

.titulofecha {
 display : block;
 border: 2px solid purple;
 }

.fechaid {
 color: orange;
}

#video-wrapper {
 
  
}
