#boton {
  width: 100px;
  height: 50px;
  margin: 0px 0px 50px 50px;
}  
#fondoBoton{
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#imagen {
  width: 259px;
  height: 250px;
} 
#fondo {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKZrjpt0HYtqsvrDzpb8B1DrYus3uh8Uh4SoaS1IWZ_HHTFC-3MMk2CnJR&s=10');
  width: 100%;
  height: 250px;
  text-align: left;
}
nav {
  
} 
#cuerpo{
  text-align: center;
}
