@media screen and (min-width: 1200px) {
  
   #videotitulo {
     position: relative;
     height: 600px;
     padding-left: 100px;
     margin-top: 75px;
    }
 }
  #videotitulo {
     margin-bottom: 100px;
  }
  #titulo {
     margin-bottom: 30px;
     margin-top: 50px;
    }
  
