
<div #youTubePlayer id="parent">
  <youtube-player #player [width]="videoWidth" [height]="videoHeight" [videoId]="videoID"
    (ready)="onReady($event)" (stateChange)="onStateChange($event)"></youtube-player>

    <button id="play1" class="boton" (click)="evento(1)">Destacado1</button>
    <button id="play2" class="boton" (click)="evento(2)">Destacado2</button>
    <button id="play3" class="boton" (click)="evento(3)">Destacado3</button>
    <button id="play4" class="boton" (click)="evento(4)">Destacado4</button>
 
</div>
